@import 'tailwindcss';
@import 'tw-animate-css';
@import '@vesta-cx/ui/styles/theme.css';

@source "../../../../packages/ui/src/lib";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
